.buttons {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}

.buttons__btn {
  outline: none;
  border: none;
  border-radius: 4px;
  color: #3c4043;
  background-color: #f8f9fa;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  padding: 0 16px;
  margin: 11px 4px;
}

.buttons__btn:hover {
  box-shadow: 0 1px 1px #0000001a;
  border: 1px solid #dadce0;
  color: #202124;
}

.buttons__btn:focus {
  border: 1px solid #4285f4;
}

.buttons__btn:active {
  transform: scale(0.99);
}
